.sliders {
    width: 70%;
    margin: 100px auto 150px;
    /* margin-top: 50px; */
}

.sliderPhoto {
    max-width: 1440px;
    border: 3px solid #868686;
    border-radius: 10px;
}

@media screen and (max-width: 1050px) {
    .sliderPhoto {
        width: 100%;
    }
}

.slick-slide>div {
    margin: 0 50px;
}

.slick-list {
    margin: 0 -10px;
}

.slick-dots {
    position: absolute;
    bottom: -40px;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #868686;
    -webkit-font-smoothing: antialiased;
    padding: 0;
}

ul {
    padding: 0;
}

.slick-dots li.slick-active button:before {
    color: #141414 !important;
    opacity: 1 !important;
}

.slick-dots li.slick-active button:before:hover {
    color: #E9E9E9 !important;
}

.slider {
    border: 1px solid #fff;
    border-radius: 8px;
    overflow: hidden;
    height: 400px;
    color: #fff;
    cursor: pointer;
}

.slider-bottom {
    margin: 10px 20px;
}

.category {
    position: relative;
}

.category::before {
    content: '';
    background: rgb(255, 61, 61);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    height: 2px;
}

.slick-prev:before {
    color:#141414 !important;
}

.slick-next:before {
    color:#141414 !important;
}